<h1 mat-dialog-title>Declaración a prsentar</h1>
<!--<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>-->
<div mat-dialog-actions>
  
  <div class="contenedor">
    <form (ngSubmit)="confirmSaveInfo()" [formGroup]="datosDialogForm" [ngClass]="{ hidden: !editMode }">
      <div class="padding-agregar" formGroupName="declaracionGroup">
        <mat-divider></mat-divider>
        <p>Fideicomiso</p>
        <!-- Datos -->
        <div class="grid-3-col grid-margin">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de Operacion</mat-label>
            <mat-icon matPrefix>beenhere</mat-icon>
            <mat-select formControlName="tipoOperacion" required>
              <mat-option *ngFor="let tipoOperacion of tipoOperacionCatalogo" [value]="tipoOperacion">
                {{ tipoOperacion | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="grid-2-col grid-margin">
          <mat-form-field matTooltip="{{ tooltipData.participacionFideicomisos }}" appearance="fill">
            <mat-label>Participación en Fideicomisos</mat-label>
            <mat-icon matPrefix>beenhere</mat-icon>
            <mat-select formControlName="tipoRelacion" required>
              <mat-option *ngFor="let relacion of relacionCatalogo" [value]="relacion">
                {{ relacion | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field matTooltip="{{ tooltipData.tipoFideicomiso }}" appearance="fill">
            <mat-label>Tipo de Fideicomisos</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <mat-select formControlName="tipoFideicomiso" required>
              <mat-option *ngFor="let tipoFideicomiso of tipoFideicomisoCatalogo" [value]="tipoFideicomiso">
                {{ tipoFideicomiso }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field matTooltip="{{ tooltipData.tipoParticipacion }}" appearance="fill">
            <mat-label>Tipo de Participación</mat-label>
            <mat-icon matPrefix>account_balance_wallet</mat-icon>
            <mat-select formControlName="tipoParticipacion" required>
              <mat-option *ngFor="let tipoParticipacion of tipoParticipacionCatalogo" [value]="tipoParticipacion">
                {{ tipoParticipacion | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field matTooltip="{{ tooltipData.rfcFideicomiso }}" appearance="fill">
            <mat-label>RFC del Fideicomiso</mat-label>
            <mat-icon matPrefix>fingerprint</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              #input_rfc_fideicomiso
              type="text"
              formControlName="rfcFideicomiso"
              minlength="12"
              maxlength="13"
              required
            />
            <mat-hint align="end">{{ input_rfc_fideicomiso.value?.length || 0 }}/12-13</mat-hint>
          </mat-form-field>
        </div>

        <div
          class="grid-3-col grid-margin"
          formGroupName="fideicomitente"
          *ngIf="fideicomisosForm.value.fideicomiso.tipoParticipacion === 'FIDEICOMITENTE'"
        >
          <mat-radio-group matTooltip="{{ tooltipData.fideicomitente }}" class="checkbox" formControlName="tipoPersona">
            <p class="question double-col">Fideicomitente</p>
            <mat-radio-button value="FISICA"><span class="no-public-inline"></span>Persona Física</mat-radio-button>
            <mat-radio-button value="MORAL">Persona Moral</mat-radio-button>
          </mat-radio-group>
          <mat-form-field matTooltip="{{ tooltipData.nombreRazonSocialFideicomitente }}" appearance="fill">
            <mat-label>Nombre o razón social del Fideicomitente</mat-label>
            <mat-icon matPrefix class="no-public">person</mat-icon>
            <input [errorStateMatcher]="errorMatcher" matInput type="text" formControlName="nombreRazonSocial" />
          </mat-form-field>
          <mat-form-field matTooltip="{{ tooltipData.rfcFideicomitente }}" appearance="fill">
            <mat-label>RFC del Fideicomitente</mat-label>
            <mat-icon matPrefix class="no-public">fingerprint</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              #input_rfc
              type="text"
              maxlength="13"
              formControlName="rfc"
            />
            <mat-hint align="end">{{ input_rfc.value?.length || 0 }}/12-13</mat-hint>
          </mat-form-field>
        </div>

        <div
          class="grid-2-col grid-margin"
          formGroupName="fiduciario"
          *ngIf="fideicomisosForm.value.fideicomiso.tipoParticipacion === 'FIDUCIARIO'"
        >
          <mat-form-field matTooltip="{{ tooltipData.nombreRazonSocialFiduciario }}" appearance="fill">
            <mat-label>Nombre del Fiduciario</mat-label>
            <mat-icon matPrefix class="no-public">person</mat-icon>
            <input [errorStateMatcher]="errorMatcher" matInput type="text" formControlName="nombreRazonSocial" />
          </mat-form-field>

          <mat-form-field matTooltip="{{ tooltipData.rfcFiduciario }}" appearance="fill">
            <mat-label>RFC del Fiduciario</mat-label>
            <mat-icon matPrefix class="no-public">fingerprint</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              #input_rfc_fiduciario
              type="text"
              formControlName="rfc"
            />
            <mat-hint align="end">{{ input_rfc_fiduciario.value?.length || 0 }}/13</mat-hint>
          </mat-form-field>
        </div>
      <!-- Primer bloque -->
      <!--
      <div>
        <div class="grid-2-col">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de declaración </mat-label>
            <mat-icon matPrefix>star</mat-icon>
            <mat-select formControlName="tipoDeclaracion" required (selectionChange)="cambioValores($event.value)">
              <mat-option *ngFor="let tipo of tipoDeclaracionCatalogo" [value]="tipo.clave">
                {{ tipo.valor | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div 
            formGroupName="groupInicial"
            *ngIf="datosDialogForm.value.tipoDeclaracion === 'inicial'"
          >
          <mat-form-field matTooltip="{{ tooltipData.fechaTomaPosesion }}"  appearance="fill">
            <mat-label>Fecha de toma de posesión</mat-label>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              [matDatepicker]="picker"
              [min]="minDate"
              [max]="maxDate"
              formControlName="fechaTomaPosesion"
              required
            />
            <mat-hint [(ngModel)]="tipoDeclaracion" >dd/mm/yyyy</mat-hint>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          </div>

          <div 
            formGroupName="groupModificacion"
            *ngIf="datosDialogForm.value.tipoDeclaracion === 'modificacion'"
          >
          <mat-form-field matTooltip="{{ tooltipData.fechaTomaPosesion }}"  appearance="fill">
            <mat-label>Año de la declaración de modificación</mat-label>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              [matDatepicker]="picker"
              formControlName="fechaTomaPosesion"
              required
            />
            <mat-hint [(ngModel)]="tipoDeclaracion" >yyyy</mat-hint>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
        </div>
          
          <div 
            formGroupName="groupConclusion"
            *ngIf="datosDialogForm.value.tipoDeclaracion === 'conclusion'"
          >
            <mat-form-field matTooltip="{{ tooltipData.fechaTomaPosesion }}"  appearance="fill">
              <mat-label>Fecha de conclusion de empleo</mat-label>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                [matDatepicker]="picker"
                [min]="minDate"
                [max]="maxDate"
                formControlName="fechaTomaPosesion"
                required
              />
              <mat-hint [(ngModel)]="tipoDeclaracion" >dd/mm/yyyy</mat-hint>
              <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
          </div>
          
          <mat-form-field  appearance="fill">
            <mat-label>Seleccionar un puesto</mat-label>
            <mat-icon matPrefix>dns</mat-icon>
            <mat-select formControlName="puesto" required  (selectionChange)="cambioValores($event.value)">
              <mat-option *ngFor="let p of puestoCatalogo" [value]="p.clave">
                {{ p.valor }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>-->
    </form>

    
    <div class="grid-margin" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="35px">
      <mat-card class="info" fxFlex="30" fxLayout="column">
        <mat-card-content fxFlex="grow">
          <p class="title">Declaración inicial</p>
          <p>
            <span class="resaltar">Plazo: </span>Dentro de los sesenta días naturales siguientes a la toma de posesión
            con motivo del Ingreso al servicio público por primera vez o reingreso al servicio público después de
            sesenta días naturales de la conclusión de su último encargo.
          </p>
        </mat-card-content>
        <mat-card-actions>
                    
          <!--[routerLink]="['/inicial/simplificada/situacion-patrimonial']"-->
          <mat-checkbox color="primary" #cbInicialSimplificada [disabled]="isDisabledCheckBoxInicial" [checked]="isCheckedCheckBoxInicial" >Declaración simplificada</mat-checkbox>
          <button *ngIf="cbInicialSimplificada.checked" id="btnInicialSimple" mat-raised-button color="primary" 
            (click)="closeDialog()" [disabled]="isDisabledButtonInicialSimple"> 
            <small>Comenzar declaración simplificada</small>
          </button>

          <!--[routerLink]="['/inicial/situacion-patrimonial']"-->
          <button *ngIf="!cbInicialSimplificada.checked" mat-raised-button color="primary" #btnInicialCompleta
             (click)="closeDialog()" [disabled]="isDisabledButtonInicialCompleta">
            Comenzar declaración
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="info" fxFlex="30" fxLayout="column">
        <mat-card-content fxFlex="grow">
          <p class="title">Declaración de Modificación</p>
          <p>
            <span class="resaltar">Plazo: </span>Durante el mes de mayo de cada año, siempre y cuando haya laborado al
            menos un día del año inmediato anterior.
          </p>
        </mat-card-content>
        <mat-card-actions>

          <!--[routerLink]="['/modificacion/simplificada/situacion-patrimonial']"-->
          <mat-checkbox color="primary" #cbModificacionSimplificada [disabled]="isDisabledCheckBoxModificacion" [checked]="isCheckedCheckBoxModificacion" >Declaración simplificada</mat-checkbox>
          <button *ngIf="cbModificacionSimplificada.checked"  mat-raised-button color="primary" #btnInicialSimple id="btnInicialSimple"
            (click)="closeDialog()"  [disabled]="isDisabledButtonModificacionSimple">
            <small>Comenzar declaración simplificada</small>
          </button>

          <!--[routerLink]="['/modificacion/situacion-patrimonial']" -->
          <button *ngIf="!cbModificacionSimplificada.checked" mat-raised-button color="primary" 
            (click)="closeDialog()"  [disabled]="isDisabledButtonModificacionCompleta">
            Comenzar declaración
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="info" fxFlex="30" fxLayout="column">
        <mat-card-content fxFlex="grow">
          <p class="title">Declaración de Conclusión</p>
          <p>
            <span class="resaltar">Plazo: </span>Dentro de los sesenta días naturales siguientes a la conclusión del
            encargo.
          </p>
        </mat-card-content>
        <mat-card-actions>

          <!--[routerLink]="['/conclusion/simplificada/situacion-patrimonial']"-->
          <mat-checkbox color="primary" #cbConclusionSimplificada  [disabled]="isDisabledCheckBoxConclusion" [checked]="isCheckedCheckBoxConclusion" >Declaración simplificada</mat-checkbox>
          <button *ngIf="cbConclusionSimplificada.checked"  mat-raised-button color="primary" 
            (click)="closeDialog()" [disabled]="isDisabledButtonConclusionSimple">
            <small>Comenzar declaración simplificada</small>
          </button>

          <!--[routerLink]="['/conclusion/situacion-patrimonial']" -->
          <button *ngIf="!cbConclusionSimplificada.checked" mat-raised-button color="primary" 
            (click)="closeDialog()" [disabled]="isDisabledButtonConclusionCompleta">
            Comenzar declaración
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>
  
  <button mat-button mat-dialog-close>Close</button>
</div>