<div class="section-main-container">
  <mat-card class="form-card">
    <section-header
      section="I. Declaración de situación patrimonial"
      [simplificada]="declaracionSimplificada"
      progress="18"
      
    ></section-header>

    <mat-divider></mat-divider>

    <mat-toolbar class="background-white">
      <label class="step-title"> 4. Datos empleo, cargo o comisión</label>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <p class="vertical-margin-25">
      Todos los campos * son obligatorios. Los datos de terceros, siempre y cuando sean personas físicas, y los campos
      resaltados <span class="no-public-inline"></span> no serán públicos.
    </p>

    
    <form (ngSubmit)="confirmSaveInfo()" [formGroup]="datosEmpleoCargoComisionForm">
      <!-- Primer bloque -->
      <div>
        <div class="grid-2-col">
          <mat-form-field matTooltip="{{ tooltipData.nivelOrdenGobierno }}" appearance="fill">
            <mat-label>Nivel/Orden de Gobierno </mat-label>
            <mat-icon matPrefix>star</mat-icon>
            <mat-select formControlName="nivelOrdenGobierno" required (selectionChange)="cambioOrden($event.value)">
              <mat-option *ngFor="let orden of nivelOrdenGobiernoCatalogo" [value]="orden">
                {{ orden | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field matTooltip="{{ tooltipData.ambitoPublico }}" appearance="fill">
            <mat-label>Ámbito Público</mat-label>
            <mat-icon matPrefix>aspect_ratio</mat-icon>
            <mat-select formControlName="ambitoPublico" required (selectionChange)="cambioAmbito($event.value)">
              <mat-option *ngFor="let ambito of ambitoPublicoCatalogo" [value]="ambito">
                {{ ambito | replace: '_':' ' }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field matTooltip="{{ tooltipData.nombreEntePublico }}" appearance="fill">
            <mat-label>Nombre del Ente Público</mat-label>
            <mat-icon matPrefix>dns</mat-icon>
            <mat-select formControlName="nombreEntePublico" required>
              <mat-option *ngFor="let entePublico of entePublicoFiltrado" [value]="entePublico.valor">
                {{ entePublico.valor }}
              </mat-option>
            </mat-select>
          </mat-form-field>

            <!-- <input
              [errorStateMatcher]="errorMatcher"
              matInput
              type="text"
              formControlName="nombreEntePublico"
              required
            />-->


          <mat-form-field matTooltip="{{ tooltipData.areaAdscripcion }}" appearance="fill">
            <mat-label>Área de Adscripción</mat-label>
            <mat-icon matPrefix>wb_iridescent</mat-icon>
            <input [errorStateMatcher]="errorMatcher" matInput type="text" formControlName="areaAdscripcion" required />
          </mat-form-field>

          <mat-form-field matTooltip="{{ tooltipData.empleoCargoComision }}" appearance="fill">
            <mat-label>Empleo, cargo o comisión</mat-label>
            <mat-icon matPrefix>wb_iridescent</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              type="text"
              formControlName="empleoCargoComision"
              required
            />
          </mat-form-field>

          <mat-form-field matTooltip="{{ tooltipData.especifiqueFuncionPrincipal }}" appearance="fill">
            <mat-label>Especifique función principal</mat-label>
            <mat-icon matPrefix>speaker_notes</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              type="text"
              formControlName="funcionPrincipal"
              required
            />
          </mat-form-field>
          <!--<div class="grid-2-col">-->
          <mat-radio-group class="checkbox" appearance="fill" formControlName="contratadoPorHonorarios">
            <label class="question">¿Está contratado por honorarios? *</label>
            <mat-radio-button [value]="true">Sí</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field matTooltip="{{ tooltipData.nivelEmpleoCargoComision }}" appearance="fill">
            <mat-label>Nivel del empleo, cargo o comisión</mat-label>
            <mat-icon matPrefix>work</mat-icon>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              #input_nivel_cargo
              type="text"
              formControlName="nivelEmpleoCargoComision"
              required
            />
          </mat-form-field>
          <!--</div>-->
          <mat-form-field matTooltip="{{ tooltipData.fechaTomaPosesion }}" appearance="fill">
            
            <mat-label *ngIf="tipoDeclaracion !== 'conclusion'">Fecha de toma de posesión del empleo</mat-label>
            <mat-label *ngIf="tipoDeclaracion === 'conclusion'">Fecha de conclusión del empleo</mat-label>
            <input
              [errorStateMatcher]="errorMatcher"
              matInput
              [matDatepicker]="picker"
              [min]="minDate"
              [max]="maxDate"
              formControlName="fechaTomaPosesion"
              required
            />
            <mat-hint>dd/mm/yyyy</mat-hint>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="grid-3-col">
            <mat-form-field
              matTooltip="{{ tooltipData.telefonoOficinaExtension }}"
              appearance="fill"
              class="double-col"
              formGroupName="telefonoOficina"
            >
              <mat-label>Teléfono de oficina</mat-label>
              <mat-icon matPrefix>call</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                type="text"
                #input_telefono_oficina
                formControlName="telefono"
                maxlength="10"
                required
              />
              <mat-hint align="end">{{ input_telefono_oficina.value?.length || 0 }}/10</mat-hint>
            </mat-form-field>
            <mat-form-field
              matTooltip="{{ tooltipData.telefonoOficinaExtension }}"
              appearance="fill"
              class="extension"
              formGroupName="telefonoOficina"
            >
              <mat-label>Extensión</mat-label>
              <mat-icon matPrefix>call</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                type="text"
                formControlName="extension"
                maxlength="5"
                required
              />
            </mat-form-field>
          </div>
        </div>

        <!-- Segundo Bloque -->
        <p>Domicilio del empleo, cargo o comisión</p>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile colspan="1">
            <mat-form-field appearance="fill">
              <mat-label>País</mat-label>
              <mat-icon matPrefix>public</mat-icon>
              <mat-select #tipoDomicilioInput (selectionChange)="tipoDomicilioChanged($event.value)" required>
                <mat-option value="MEXICO"> MÉXICO </mat-option>
                <mat-option value="EXTRANJERO"> EN EL EXTRANJERO </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list *ngIf="tipoDomicilio === 'MEXICO'" cols="15" rowHeight="100px" formGroupName="domicilioMexico">
          <mat-grid-tile colspan="6">
            <mat-form-field appearance="fill">
              <mat-label>Calle</mat-label>
              <mat-icon matPrefix>streetview</mat-icon>
              <input [errorStateMatcher]="errorMatcher" matInput type="text" formControlName="calle" required />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Número Exterior</mat-label>
              <mat-icon matPrefix>image_aspect_ratio</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                type="text"
                formControlName="numeroExterior"
                maxlength="5"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Número Interior</mat-label>
              <mat-icon matPrefix>image_aspect_ratio</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_ni
                type="text"
                formControlName="numeroInterior"
                maxlength="10"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Código Postal</mat-label>
              <mat-icon matPrefix>markunread_mailbox</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_cp
                maxlength="5"
                type="text"
                formControlName="codigoPostal"
                required
              />
              <mat-hint align="end">{{ input_cp.value?.length || 0 }}/5</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>Entidad Federativa</mat-label>
              <mat-icon matPrefix>public</mat-icon>
              <mat-select formControlName="entidadFederativa" required>
                <mat-option *ngFor="let opt of estadosCatalogo" [value]="opt">
                  {{ opt.valor }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>Municipio/Alcaldía</mat-label>
              <mat-icon matPrefix>beenhere</mat-icon>
              <mat-select formControlName="municipioAlcaldia" required>
                <mat-option *ngFor="let opt of municipiosCatalogo[estado?.clave]" [value]="opt">
                  {{ opt.valor }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>Colonia</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_localidad
                type="text"
                formControlName="coloniaLocalidad"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list
          *ngIf="tipoDomicilio === 'EXTRANJERO'"
          cols="15"
          rowHeight="100px"
          formGroupName="domicilioExtranjero"
        >
          <mat-grid-tile colspan="6">
            <mat-form-field appearance="fill">
              <mat-label>Calle</mat-label>
              <mat-icon matPrefix>streetview</mat-icon>
              <input [errorStateMatcher]="errorMatcher" matInput type="text" formControlName="calle" required />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Número Exterior</mat-label>
              <mat-icon matPrefix>image_aspect_ratio</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                type="text"
                formControlName="numeroExterior"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Número Interior</mat-label>
              <mat-icon matPrefix>image_aspect_ratio</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_ni
                type="text"
                formControlName="numeroInterior"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label>Código Postal</mat-label>
              <mat-icon matPrefix>markunread_mailbox</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_cp
                maxlength="5"
                type="text"
                formControlName="codigoPostal"
                required
              />
              <mat-hint align="end">{{ input_cp.value?.length || 0 }}/5</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>País</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="pais" required>
                <mat-option *ngFor="let opt of paisesCatalogo" [value]="opt.clave">
                  {{ opt.valor }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>Estado/Provincia</mat-label>
              <mat-icon matPrefix>public</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_ep
                type="text"
                formControlName="estadoProvincia"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field appearance="fill">
              <mat-label>Ciudad/Localidad</mat-label>
              <mat-icon matPrefix>beenhere</mat-icon>
              <input
                [errorStateMatcher]="errorMatcher"
                matInput
                #input_cl
                type="text"
                formControlName="ciudadLocalidad"
                required
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div class="boton" *ngIf="!aclaraciones">
        <button mat-raised-button class="text-primary" (click)="toggleAclaraciones(true)">
          AGREGAR ACLARACIONES / OBSERVACIONES
        </button>
      </div>
      <div class="" *ngIf="aclaraciones">
        <div class="flex grid-margin">
          <p>Aclaraciones / Observaciones</p>
          <button mat-raised-button color="primary" (click)="toggleAclaraciones(false)">CANCELAR</button>
        </div>

        <mat-form-field appearance="fill" class="grid-margin">
          <mat-icon matPrefix class="aclaraciones-no-public">speaker_notes</mat-icon>
          <textarea
            maxlength="500"
            [errorStateMatcher]="errorMatcher"
            matInput
            formControlName="aclaracionesObservaciones"
            rows="10"
          ></textarea>
        </mat-form-field>
      </div>

      <mat-grid-list cols="1" rowHeight="100px" *ngIf="tipoDeclaracion === 'modificacion'">
        <mat-grid-tile colspan="1" class="content-left">
          <mat-radio-group class="checkbox" appearance="fill" formControlName="cuentaConOtroCargoPublico">
            <label class="question"
              >¿Cuenta con otro empleo cargo o comisión en el servicio público distinto al declarado? *</label
            >
            <mat-radio-button [value]="true">Sí</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="boton text-right">
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
        <button mat-raised-button color="primary" type="button" (click)="datosEmpleoCargoComisionForm.reset()">
          LIMPIAR FORMULARIO
        </button>
        <button mat-raised-button color="primary" [disabled]="datosEmpleoCargoComisionForm.invalid || isLoading">
          GUARDAR CAMBIOS
        </button>
      </div>
    </form>

    <mat-divider></mat-divider>

    <div class="boton center">
      <button
        *ngIf="!declaracionSimplificada"
        mat-raised-button
        color="primary"
        type="button"
        (click)="formHasChanges()"
      >
        CONTINUAR 5 DE 15
        <mat-icon matSofix>arrow_forward</mat-icon>
      </button>

      <button
        *ngIf="declaracionSimplificada"
        mat-raised-button
        color="primary"
        type="button"
        (click)="formHasChanges()"
      >
        CONTINUAR 5 DE 7
        <mat-icon matSofix>arrow_forward</mat-icon>
      </button>
    </div>

    <section-footer [declaracionId]="declaracionId"></section-footer>
  </mat-card>
</div>