<mat-toolbar class="toolbar-column">
   <!-- Columna izquierda -->
  <div class="toolbar-left">
    <!-- WhatsApp arriba -->
    <div class="whatsapp">
      <a href="https://wa.me/526144432375" target="_blank">
        <span class="whatsapp-text">(614)-443-2375</span>
        <img class="whatsapp-icon"
             src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
             alt="WhatsApp" width="32" height="32">
      </a>
    </div>
    <!-- Logo debajo -->
    <div class="logo-container">
      <img class="pdn-logo" src="assets/sesea.png" alt="PDE" (click)="goTo('')" />
    </div>
  </div>

  <!-- Divider -->
  <div class="divider"></div>

  <!-- Título -->
  <div class="title">
    Declaraciones Patrimoniales <br />
    municipales a excepción de <del>Juárez</del>
  </div>
  <div fxFlex></div>

  <div>
    <button mat-button (click)="goToPDF('assets/documents/manual_atencion_usuarios_S1.pdf')">MANUAL DE ATENCIÓN</button>

    <button *ngIf="isLoggedIn && isAdmin" mat-button (click)="goTo('admin/usuarios')">USUARIOS</button>
    <button *ngIf="isLoggedIn && isDeclarant" mat-button (click)="goTo('comienza-tu-declaracion')">
      COMIENZA TU DECLARACIÓN
    </button>
    <button *ngIf="isLoggedIn && isAdmin" mat-button (click)="goTo('admin/declaraciones')">DECLARACIONES</button>
    <button *ngIf="isLoggedIn && isDeclarant" mat-button (click)="goTo('declaraciones')">MIS DECLARACIONES</button>
    <button *ngIf="!isLoggedIn" mat-button (click)="goTo('preguntas-frecuentes')">PREGUNTAS FRECUENTES</button>

    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goTo('perfil')">MI PERFIL</button>
      <button mat-menu-item (click)="goTo('preguntas-frecuentes')">PREGUNTAS FRECUENTES</button>
      <button mat-menu-item (click)="logout()">CERRAR SESIÓN <mat-icon>exit_to_app</mat-icon></button>
    </mat-menu>

    <button *ngIf="!isLoggedIn" mat-button (click)="goTo('registro')">
      REGISTRARSE <mat-icon>how_to_reg</mat-icon>
    </button>
  </div>
</mat-toolbar>