<div fxFlex>
  <app-header></app-header>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"> 
   
      <!-- Menú para AVISO -->
      <mat-expansion-panel *ngIf="tipoDeclaracion === 'aviso' && !declaracionSimplificada">
        <mat-expansion-panel-header [ngClass]="{
            active: url?.startsWith('/' + tipoDeclaracion)
          }">
          <mat-panel-title>I. Aviso por cambio de dependencia </mat-panel-title>
        </mat-expansion-panel-header>
<mat-vertical-stepper
  #stepper
  class="aviso-stepper"
>
  <mat-step
    *ngFor="let opt of avisoOptions; let i = index"
    [completed]="isOptionSaved(opt.url)"
    (click)="goToAvisoByIndex(i, stepper)"
  >
    <ng-template matStepLabel>
      {{ opt.text }}
    </ng-template>
  </mat-step>
</mat-vertical-stepper>



      </mat-expansion-panel>

      <!-- Menú para SITUACIÓN PATRIMONIAL -->
      <mat-expansion-panel *ngIf="tipoDeclaracion != 'aviso'">
        <mat-expansion-panel-header [ngClass]="{
            active:
              url?.startsWith('/' + tipoDeclaracion + '/situacion-patrimonial') ||
              url?.startsWith('/' + tipoDeclaracion + '/simplificada/situacion-patrimonial')
          }">
          <mat-panel-title> I. Declaración de situación patrimonial </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-vertical-stepper (selectionChange)="goToSituacionPatrimonialSection($event.selectedStep)">
          <ng-container *ngFor="let opt of situacionPatrimonialOptions; trackBy: trackByUrl">
            <mat-step *ngIf="!declaracionSimplificada || opt.simplificada" 
                      [label]="opt.text"
                      [ngClass]="{'step-saved': isOptionSaved(opt.url), 'step-unsaved': !isOptionSaved(opt.url)}"
                      [attr.data-saved]="isOptionSaved(opt.url)">
            </mat-step>
          </ng-container>
        </mat-vertical-stepper>
      </mat-expansion-panel>

      <!-- Menú para INTERESES -->
      <mat-expansion-panel *ngIf="tipoDeclaracion != 'aviso' && !declaracionSimplificada">
        <mat-expansion-panel-header [ngClass]="{ active: url?.startsWith('/' + tipoDeclaracion + '/intereses') }">
          <mat-panel-title> II. Declaración de intereses </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-vertical-stepper (selectionChange)="goToInteresesSection($event.selectedIndex)">
          <mat-step *ngFor="let opt of interesesOptions; trackBy: trackByUrl" 
                    [label]="opt.text"
                    [ngClass]="{'step-saved': isOptionSaved(opt.url), 'step-unsaved': !isOptionSaved(opt.url)}"
                    [attr.data-saved]="isOptionSaved(opt.url)">
          </mat-step>
        </mat-vertical-stepper>
      </mat-expansion-panel>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-toolbar class="menu-button-container">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>